@using MedicalStore.Utils.Common
@using MedicalStore.DAO.Interface;
@{

    this.ViewData["Title"] = Routers.Product.Title;
    var listProduct = (List<Product>)this.ViewData["listProduct"];
    var user = (User)this.ViewData["user"];
    var listShopName = (List<string>)this.ViewData["listShopName"];
}

<div class="min-h-full flex ">
    <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
        <div class="mx-auto w-full max-w-sm lg:w-96">
            <div>
                <img class="h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
                     alt="Workflow" width="250" height="200" />
                <h2 class="mt-6 text-3xl font-extrabold text-gray-900">
                    @((user.RoleId.Equals("2")) ? ("All Products of shop " + user.Name) : "All Products")
                </h2>
            </div>
            <a href="@Routers.CreateProduct.Link"
               class="w-full flex justify-center py-2 my-4 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Create Product
            </a>

            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Image </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Product Name </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Original Price</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Retail Price</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Quantity</th>
                        @if(user.RoleId.Equals("0")){ 
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Shop Name</th>
                        }
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                        <th scope="col" class="relative px-6 py-3">
                            <span class="sr-only">Edit</span>
                        </th>
                    </tr>
                </thead>
                @for (int i = 0; i < listProduct.Count(); i++)
                {
                    <tr class="bg-white">
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@(i + 1)</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><img src="@(listProduct.ElementAt<Product>(i).ImageUrl)" alt="@(listProduct.ElementAt<Product>(i).Name)" /></td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@(listProduct.ElementAt<Product>(i).Name.Length >= 25 ? listProduct.ElementAt<Product>(i).Name.Substring(0,25)+"...." : listProduct.ElementAt<Product>(i).Name)</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@(listProduct.ElementAt<Product>(i).Description.Length >= 35 ? listProduct.ElementAt<Product>(i).Description.Substring(0,35)+"...." : listProduct.ElementAt<Product>(i).Description)</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@(listProduct.ElementAt<Product>(i).OriginalPrice + " VND")</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@(listProduct.ElementAt<Product>(i).RetailPrice + " VND")</td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@(listProduct.ElementAt<Product>(i).Quantity)</td>
                        @if(user.RoleId.Equals("0")){ 
                            <th class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@(listShopName.ElementAt<string>(i))</th>
                        }
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@(listProduct.ElementAt<Product>(i).Status)</td>
                        <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                            <a href="/product/profile?productId=@(listProduct.ElementAt<Product>(i).ProductId)" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Detail
                            </a>

                        </td>
                        

                    </tr>

                }
            </table>

        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/product/delete.js"></script>
    
}